aiogram
aiohttp
asyncio
colorama
colored
cryptography
fake-useragent
Flask
httpx
keyboard
nltk
numpy
pandas
pystyle
pyTelegramBotAPI
python-telegram-bot
pytz
regex
requests
scikit-learn
telebot
telegram
telegraph
Telethon
